[Unit]
Description=FocusForLife Watcher
StartLimitIntervalSec=0
After=ffl-daemon.service
Wants=ffl-daemon.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ffl-watcher
Restart=always
RestartSec=1

NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
